li {
  list-style-type: none !important;
  display: inline-block !important;
  justify-content: center;
}
#specific_cocktail {
  margin-top: 40px !important;
  text-align: center;
  justify-content: center;
}
.small {
  width: 150px !important;
}
.description.bottom {
  vertical-align: bottom !important;
}
#card.small.cocktail-container.content.header {
  font-size: 50px;
}
/* This is the button for all the cards in the list to view more */
#front_button {
  justify-content: center;
  margin-top: 10%;
  border: none;
  padding: 15px;
  color: #2c2c33;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  align-items: center;
  background-color: #e0e1e2;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  border: none;
}
/* This is the container that holds the cocktail card */
#specific-cocktail-container.card {
  padding-bottom: 30px;
}
/* select virgin ingredients */
#ingredients_index {
  width: 250px;
  height: 42px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #e0e1e2;
  border: none;
  padding-left: 80px;
  color: #2c2c33;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* This is the submit button */
.ui.large.button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Hälsningsmeddelandet */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
/* This is the card that shows when you click on a cocktail */
#specific-cocktail-container {
  margin-bottom: 60px;
  margin-right: 40vh;
}
/* This is the button for choosing booze */
#alcohol_selector {
  width: 250px;
  height: 42px;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e0e1e2;
  border: none;
  padding-left: 100px;
  margin-top: 25px;
  color: #2c2c33;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: 700;
}
/* This is the button for sending off search for booze */
#search_button {
  width: 250px;
  height: 42px;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e0e1e2;
  border: none;
  padding-left: ;
  color: #2c2c33;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: 700;
}
/* This is the logo for our grogbot */
#logo {
  margin-top: 2vh;
  margin-bottom: 20px;
  margin-left: 40vh;
}
/* Har att göra med placering av virgin ingredients- knappar och hälsningsmeddelande */
.top {
  margin-left: 40vh;
}
/* This is the list of cards that show when you've selected a virgin ingredient */
#cocktail_list.ui.cards {
  margin-left: 17vh;
  margin-right: 45vh;
}
/* This is the list of alcohol that shows when selected alcohol type */
#alcohol_list {
  text-align: center;
  justify-content: center;
}
