body {

}
li {
    list-style-type: none !important;
    display: inline-block !important;
  }
  #specific_cocktail {
    margin-top: 40px !important;
    text-align: center;
    justify-content: center;
  }
  
  .small {
    width: 150px !important;
  }
  
  .description.bottom {
    vertical-align: bottom !important;
  }
  
  .top {
  }
  
  #cocktail_list {
    justify-content: center;
    text-align: center;
  }
  
  .right {
      float: right;
  }
  .left {
    float: left;
}